* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    *:not(.fab, .fa-solid, .fa-sharp, .oi) {
        font-family: 'Poppins', sans-serif;
    }
/*Nav*/

@media (max-width: 900px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
        position: fixed;
        top: 0;
        height: auto;
        padding: 20px;
        width: 100%;
        z-index: 20;
        text-align: center;
        background-color: white;
        font-family: 'Poppins', sans-serif;
        box-shadow: -1px 1px 20px 1px rgba(0,0,0,0.10);
        -webkit-box-shadow: -1px 2px 35px 2px rgba(0,0,0,0.12);
        -moz-box-shadow: -1px 2px 35px 2px rgba(0,0,0,0.12);
    }

    .collapse {
        display: none;
        transition: all 1s;
    }

    .menu-icon {
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: white;
        font-size: 30px;
        cursor: pointer;
        transition: all 0.2s;
    }
            .menu-icon:hover{
                transform: scale(1.02);
                transition: all 0.2s;
                color: #2c5feb;
            }

    .navMenu {
        height: 90%;
        width: 100%;
        padding: 50px;
    }

    #halfRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 50px;
        background-color: #ffffff;
        padding-right: 0px;
    }

    .navItem {
        text-decoration: none;
        color: black;
        border-radius: 3%;
        font-size: 25px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        transition: all 0.5s;
    }

    #halfLeft {
        display: none;
    }
}

@media (min-width: 900px) {
    /*Navigation*/
    nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
        margin: 0px auto;
        background-color: white;
        height: 80px;
        position: sticky;
        top: 0;
        z-index: 20;
        font-family: 'Poppins', sans-serif;
        box-shadow: -1px 1px 20px 1px rgba(0,0,0,0.10);
        -webkit-box-shadow: -1px 2px 35px 2px rgba(0,0,0,0.12);
        -moz-box-shadow: -1px 2px 35px 2px rgba(0,0,0,0.12);
    }

    .navMenu {
        height: 100%;
        width: 100%;
        display: flex;
    }

    .menu-icon {
        display: none;
    }

    #halfRight {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 50px;
        padding-right: 50px;
    }

    .navItem div {
        margin: auto;
    }

    #halfLeft {
        width: 100%;
        font-size: 22px;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin: auto;
        padding-left: 50px;
    }

    .navItem {
        text-decoration: none;
        color: black;
        border-radius: 3%;
        font-size: 22px;
        font-weight: 700;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        transition: all 0.5s;
    }
}

.NotActive:hover {
    transition: all 0.2s;
    color: #2c5feb;
}

.NotActive:active {
    transition: all 0.5s;
}

.Active {
    color: #658dfc;
    transition: all 0.5s;
}

    .Active:active {
        color: white;
        transform: scale(0.97);
        transition: all 0.5s;
    }

/*General*/
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.section-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
    max-width: 1920px;
}

@media (min-width:1200px) {
    .section-container {
        padding: 150px 150px;
    }
}

@media (max-width:1200) {
    .section-container {
        padding: 150px 20px;
    }
}

.section-title {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 60px;
    margin-top: 60px;
    color: #147efb;
}

@media(min-width:1200px) {
}

@media(max-width:1200px) {
    .section-title {
        width: 100%;
        text-align: center;
    }
}


/*About*/
#About {
    width: 100%;
    min-height: 100vh;
    padding: 250px 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #f9f9f9;
}

.about-container {
    max-width: 800px;
}

.picture-container {
    max-height: 250px;
    object-fit: cover;
    border-radius: 50%;
    /*        border-start-start-radius:10%;
        border-end-end-radius:25%;
        border-bottom-left-radius:80%;
        border-top-right-radius:80%;*/
    box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.21);
    -webkit-box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.21);
}

.about-row1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

@media (min-width:1500px) {
    .about-container {
        margin-left: 100px;
    }

    #welcomeMessage {
        font-size: 75px;
        font-weight: 700;
    }
}

@media(max-width:1500px) {
    #welcomeMessage {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        width: 100%;
    }

    .about-container {
        width: 98%;
        margin: auto;
    }
}


#welcomeMessage {
    color: #2d2e32;
}

.image-and-links {
}

.links {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.contact-link{
    font-size:40px;
}

.buttons-about {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button-link {
    width: 300px;
    border: solid 1px;
    padding: 20px;
    text-align: center;
    border-radius: 3%;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.21);
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.21);
    transition: all 0.5s;
}

    .button-link:hover {
        color: blue;
        transition: all 0.5s;
    }



.Ft-link {
    text-decoration: none;
    font-size: 40px;
    color: black;
    cursor: pointer;
    position: relative;
}

#description {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    max-width: 1000px;
    color: #747474;
}

    #description div:first-of-type {
        text-align: start;
    }



/*/Skills*/




.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
}




.skills-description-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    padding: 30px;
    max-width: 780px;
    border: 1px solid #d1d1d1;
    border-radius: 1%;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.21);
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.21);
    color: #383838;
}




.skills-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: start;
    min-height: 150px;
}

.skill {
    background-color: black;
    color: white;
    height: 35px;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
    font-size: 20px;
    box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.21);
    -webkit-box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.21);
}


.skills-description-title {
    font-size: 25px;
    font-weight: 700;
    color: #2d2e32;
}

.skills-description {
    font-size: 15px;
}
/*Projects*/
#Projects {
    width: 100%;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 25px;
}

.project-description {
    font-size: 18px;
    color: #383838;
    margin-bottom: 20px;
}

.project-title {
    font-size: 23px;
    margin: 15px;
    font-weight: 700;
    color: #2d2e32;
}

.project-links {
    margin-top: 30px;
    margin-inline: auto;
    font-size: 20px;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.link {
    text-decoration: none;
    color: #383838;
    cursor: pointer;
    transition: all 0.6s;
}

    .link:hover {
        color: #147efb;
        transition: all 0.6s;
    }

@media (min-width:1200px) {
    .project-container {
        border-radius: 1% / 3%;
        box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.1);
        -webkit-box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.1);
        padding: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        margin: auto;
        min-height: 400px;
    }

    .project-text-container {
        width: 70%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        padding-inline: 10px;
    }

    .project-text-container-small {
        width: 50% !important;
    }




    .wide-picture {
        width: 50% !important;
    }


    .project-picture-container {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .project-picture {
        max-height: 400px;
        object-fit: contain;
        border-radius: 3%;
        border: 1px solid #e6e6e6;
        box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.1);
        -webkit-box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.10);
        -moz-box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.10);
    }
}

@media(max-width:1200px) {

    .project-container {
        border: 1px solid #a8a8a8;
        border-radius: 4% / 2%;
        box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.21);
        -webkit-box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.21);
        -moz-box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.21);
        padding: 100px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: auto;
    }

    .column-reverse {
        flex-direction: column-reverse !important;
    }

    .project-text-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .project-title {
        font-size: 22px;
        font-weight: 600;
    }

    .project-description {
    }

    .project-picture-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .project-picture {
        width: 100%;
        border: solid 1px #c2c2c2;
        border-radius: 3%;
    }
}

#tech-stack {
    font-size: 20px;
    font-weight: 600;
    margin: 40px;
}

.logos {
    width: 100%;
    text-align: center;
}

.logo {
    width: 90px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

/*Contact*/
#Contact {
    width: 100%;
    background-color: #f9f9f9;
    padding-bottom: 120px;
}

@media (min-width:900px) {
    .contact-me {
        font-size: 40px;
        margin-left: 60px;
    }

    .contacts {
        margin-top: 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 40px;
    }

    .contact-icon {
        height: 100px;
        width: 100px;
        font-size: 40px;
    }

    .email-label {
        font-size: 30px;
        font-weight: 600;
    }

    .email {
        font-size: 18px;
    }
    .contact-container {
        flex-wrap:wrap;
    }
}

@media (max-width:900px) {
    .contact-me {
        font-size: 25px;
        text-align: center;
    }

    .contacts {
        margin-left: 60px;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .contact-icon {
        height: 60px;
        font-size: 25px;
        width: 70px;
    }

    .email-label {
        font-size: 22px;
        font-weight: 600;
    }

    .email {
        font-size: 12px;
    }
    .contact-container {

        flex-wrap: nowrap;

    }
}


.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 15px;
    text-align: center;
    align-content: start;
}

.contact-icon {
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #147efb;
    cursor: pointer;
}

.contact-text-container {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.email {
    cursor: pointer;
    transition: all 0.6s;
    text-decoration: none;
    color: black;
    align-self: center;
}

    .email:hover {
        transition: all 0.6s;
        color: #2c5feb;
    }
/*footer*/
.footer {
    position: relative;
    background-color: #2d2e32;
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer-row {
    display: flex;
    justify-content: space-around;
}

.footer-text {
    color: white;
    font-weight: 600;
}

@media(max-width:900px) {
    .footer-text {
        font-size: 15px;
    }
}

@media(min-width:900px) {
    .footer-text {
        font-size: 20px;
    }
}

.footer-links {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.footer-link {
    color: white;
    font-size: 25px;
}
